# Flask
FLASK_ENV=production
SECRET_KEY=<change the key as per your generated key>
DEBUG=False

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=''
REDIS_DB=0

# Database
DB_HOST=db
DB_USER=newhistomics
DB_PASSWORD=<change the password here>
DB_NAME=histomics_db

# MySQL root (Docker container only)
MYSQL_ROOT_PASSWORD=<change the password here>

# Data paths
DATA_DIR=/data/
DATASET_DIR=/data/GBM

# Gunicorn
WORKERS=4
WORKER_CLASS=sync
TIMEOUT=300
